body {
font-family: Arial;
background: linear-gradient(#fdf6e3,#f5d7a1);
}

.container {
max-width:600px;
margin:auto;
background:white;
padding:20px;
border-radius:15px;
margin-top:20px;
}

input,textarea {
width:100%;
margin:8px 0;
padding:10px;
}

button {
width:100%;
padding:10px;
margin-top:5px;
background:#8b5e3c;
color:white;
border:none;
}

.entry {
background:#fff3e0;
padding:10px;
margin-top:10px;
}
